@model ExpenseReportRepo.ViewModels.AddNewUserViewModel

@{
    ViewData["Title"] = "Add New User";
}

<h2>Add New User</h2>

<div class="row">
    <div class="col-lg-4 col-md-offset-2">
        <form method="post" asp-controller="UserManagement" asp-action="AddNewUser">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roles" class="control-label">Roles</label>                
                <select asp-for="RoleId" asp-items="@Model.Roles" class="form-control">Please Select</select>                
            </div>           
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}