@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Expense Report Management</h1>
        <p>Manage expense reports submitted and paid with a value of total expense reports paid out for the year.</p>
    </div>
</div>