@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Expense Report Management</h1>
        <p>Manage expense reports submitted and paid with a value of total expense reports paid out for the year.</p>
        @if(User.Identity.IsAuthenticated)
        {
            <a asp-action="Index" asp-controller="ExpenseReports" class="btn btn-default">View Reports</a>
        }
        else
        {
            <a asp-action="Login" asp-controller="Auth" class="btn btn-default">Log In</a>

        }
    </div>
</div>